*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* header */
body{
    background: #FFFFFF;
}
.header{
    margin-left: 0px;
    padding: 0px 20px;
    height: 60px;
    box-shadow: 0 0 2px 0 rgb(114, 114, 114);
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
}
.header h1{
    font-size: 1.5rem;
    color: #5f6368;
}
form{
    position: relative;
    width: 600px;
    margin: 32px auto 50px auto;
    background: #fff;
    padding: 7px;
    border-radius: 7px;
    box-shadow: 0 1px 7px rgb(128, 128, 128);
}
form input{
    width: 100%;
    border: none;
    padding: 4px 10px;
    margin-bottom: 20px;
    outline: none;
    font-size: 1rem;
    resize: none;
}
form textarea{
    width: 99%;
    border: none;
    margin: 4px 10px;
    margin-bottom: 20px;
    outline: none;
    font-size: 1rem;
    resize: none;
}
.note{
    background: #fff;
    width: 240px;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgb(175,175,175);
    padding: 10px;
    margin: 16px;
    float: left;
}
.note h1{
    font-size: 1rem;
    margin-bottom: 6px;
}
.note p{
    font-size: 1rem;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.note button{
    position: relative;
    float: right;
    color:  #f88651;
    border: none;
    background: none;
    cursor: pointer;
    outline: none; 
}
.button1{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 18px;
    bottom: -18px;
    background: rgb(255, 200, 18);
    color: #fff;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgb(165, 165, 165);
    cursor: pointer;
    outline: none;
}

.button2{
    position: absolute;
    display: flex;
    padding-top: 15px;
    padding-left: 11px;
    font-size: 0px;
    right: 57px;
    bottom: -40px;
    background: rgb(255, 200, 18);
    color: #fff;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgb(165, 165, 165);
    cursor: pointer;
    outline: none;
}

.button4{
    position: absolute;
    display: flex;
    padding: 2px 6px 5px 6px;
    font-size: 10px;
    right: 100px;
    bottom: -20px;
    background: rgb(255, 200, 18);
    color: #fff;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgb(165, 165, 165);
    cursor: pointer;
    outline: none;
}
.button3{
    position: absolute;
    display: flex;
    padding: 6px;
    right: 15px;
    top: 0px;
    align-items: center;
    color: black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    outline: none;
}

/* search */
.search {
    margin-left: 50px;
    padding: 13px;
    width: 700px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #d7d7d7;
}

.center{
    margin-left: 100px;
}
/* ////////// */
  .hide-lightbox {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }
  .example-properties {
    display: none;
    opacity: 0;
    pointer-events: none;
    visibility: none;
    z-index: -1;
  }